
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{

    --colorGeneral:rgb(255, 103, 18);
    --colorMenu:rgba(22, 152, 164);
}



main{
 
    min-height: calc(100vh - 300px);
    background:rgba(224, 224, 224, 0.185);
}


/*------------------------- header------------- */
header{
    /* margin-bottom:4%; */
    border-bottom:5px solid var(--colorGeneral);
    /* background:var(--colorGeneral); */
    
}

.grande{
    display:flex;
}

.titulo{
    font-size:40px;
    display:inline;
}

.tituloD{
    padding:20px 0 0 0;
   
    width: 90%;
    text-align:center; /* centrar el titulo */

}

header div .imgD{
    
    width:10%;
        
}
.img{
    
    margin-left:25%;
    margin-top:15%;
    width: 100px;
    border-radius:50%;
    border:1px solid rgba(80, 142, 179, 0.336);
}

/* header div .imgD1{
    
    width:100%;
        
}

.img2{
    margin-left:30%;
    width: 200px;
    border-radius:50%;
    border:1px solid rgba(80, 142, 179, 0.336);
} */

/*------------------- menu ----------- */


.menu{
    left:30%;
    
    width:100%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
   
    
}

.divCaja h2{
    
    font-size:17px;
    display:inline;
    cursor:pointer;
}

.divCaja:hover{
    background: var(--colorMenu);
    color:white;
    
}

.divCaja{
    
    border-left:1px solid cadetblue;
    padding:10px;
    margin-left: 25px;
     float: right;
}

/* ---------------------iframe---------------- */
.iframe{
    width:100%;
    height: 600px;
    
    
    border-left:2px solid rgba(174, 174, 175, 0.699);
}

article{
    
    left:80%;
    position: relative;
    width:20%;
    
    

}


/* --------------footer------------ */
footer{
 background: var(--colorGeneral);
 width: 100%;
 height: 93px;
 bottom: 0;
 position: relative;
 text-align: center;
 color: black;
 
 
}

footer .by{
    width: 60%;
    top:3%;
    padding:14px;
}

footer .by span{
    display: flex;
}

.creado{
    color:white;
    
    padding:10px;
    
}

.COnnombres{
    display: block;
}

.erw{
   
    text-align:none;
    padding:0 0 0 37px;
}

.nombres{
    color:white;
    
}


/* ------------------------------dentro del main ------*/
.conte{
       
    top: 180px;
    margin:20px 30px 20px 20px ;
    position:absolute;
    padding:30px;
    display:flex;
    justify-content:space-between;
    visibility: hidden;
    flex-wrap: wrap;
    width:78%;

}

.conte div h3{
    border-bottom:1px solid var(--colorMenu);
    margin-bottom:5px;
}

.conteDos {
    position:absolute;
    top: 180px;
    left:40px;
    display:flex;
    justify-content:center;
    visibility: hidden;
    flex-wrap: wrap;
    width:78%;
}

.conteCuatro{
    position:absolute;
    top: 180px;
    left:40px;
    display:flex;
    justify-content:space-between;
    visibility: hidden;
    flex-wrap: wrap;
    width:78%;
    padding:25px;
}

.conte div {
    width: 30%;
   
}

.conteCuatro div {
    width: 30%;
    margin-top:-20px;
    margin-bottom: 20px;
   
}

.conteCuatro div h3{
    border-bottom:1px solid var(--colorMenu);
    margin-bottom:5px;
    
}

.conimagenpy{
    width:100%;
}

.imagenpy {
    width:100vh;

    height:290px;
    position:absolute;
    border-radius:10px;
    margin-left: 15%;
    margin-top:4%;
    margin-bottom:10px;
}





.imgp img{
    margin-left:1%;
    margin-top:-23%;
    width: 100%;
    border-radius:20%;
    border-bottom:2px solid rgba(80, 142, 179, 0.336);
    border-top:2px solid rgba(80, 142, 179, 0.336);
}


/* ----------------------------bibliografia--links--------------------------- */
.bibliografiaLink{
    visibility: hidden;
    width:80%;
    position:absolute;
    margin-top:10%;
}

.links{
    display:grid;
    grid-template-columns: 1fr;
    padding:10px;
    text-align:center;
}

.links span{
    padding:20px ;

}

/* -----lenguajes usados */


.lenguajesUsados{
    width:80%;
    position: absolute;
    margin-top:3%;
    visibility: hidden;
    
}



.ProgramacionOrientada div{
    padding:20px;
}

.ProgramacionOrientada{
    padding:5px;
    display:flex;
    margin-bottom:20px;
}

.programa{
    text-align:center;
    margin-right:10%;
}

.programacionEs{
    padding:30px 0 0 0;
    display:flex;
   
}

.imgs{
   
    width:100px;
    height: 100px;
}

/* -----------------PAGINA DE FRAME.HTML-------------------- */
.loguito{
    width:150px;
    border-radius:25%;
    
    border-bottom:3px solid var(--colorMenu);
    margin:20px 0 0 20%;
}

.span{
    margin-left:13%;
}

.perso{
    margin:10px 0 0 0;
}

.infoPersonal{
    background: var(--colorMenu);
    text-align:center;
    font-size:20px;
}

.sub{
    font-size:20px;
    font-weight: bold;
    margin:11px 0 2px 0 ;
}

.st{
    padding: 6px;
}
.st p{
    font-size:20px;
}















