
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{

    --colorGeneral:rgb(255, 103, 18);
    --colorMenu:rgba(22, 152, 164);
}



main{
    min-height: calc(100vh - 300px);
}


/*------------------------- header------------- */
header{
    /* margin-bottom:4%; */
    border-bottom:5px solid var(--colorGeneral);
    /* background:var(--colorGeneral); */
    
}

.grande{
    display:flex;
}

.titulo{
    font-size:80px;
    display:inline;
}

.tituloD{
    padding:40px 0 0 0;
   
    width: 90%;
    /* text-align:center; */ /* centrar el titulo */

}

header div .imgD{
    
    width:10%;
        
}
.img{
    margin-left:5%;
    width: 200px;
    border-radius:50%;
    border:1px solid rgba(80, 142, 179, 0.336);
}

/* header div .imgD1{
    
    width:100%;
        
}

.img2{
    margin-left:30%;
    width: 200px;
    border-radius:50%;
    border:1px solid rgba(80, 142, 179, 0.336);
} */

/*------------------- menu ----------- */


.menu{
    left:30%;
    
    width:100%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
   
    
}

.divCaja h2{
    
    font-size:34px;
    display:inline;
    cursor:pointer;
}

.divCaja:hover{
    background: var(--colorMenu);
    color:white;
    
}

.divCaja{
    
    border-left:1px solid cadetblue;
    padding:20px;
    margin-left: 50px;
     float: right;
}

/* ---------------------iframe---------------- */
.iframe{
    width:20%;
    height: 600px;
    border:none;
    display: block;
}



/* --------------footer------------ */
footer{
 background: var(--colorGeneral);
 width: 100%;
 height: 93px;
 bottom: 0;
 position: relative;
 text-align: center;
 color: black;
 
}

footer .by{
    top:3%;
    border:2px solid green;
}


































